button {
    color: #fff;
    border-radius: 3px;
    padding: 8px 16px;
}

label {
    color: black;
}

button:disabled label,
button:disabled {
    color: rgb(188, 186, 186);
}


.loading_box button {
    background-image: url("button1.png");
    background-size: 100% 100%;
    padding: 100px 256px;
    margin-top: 100px;
    border: #fff;
}

.loading_box button:hover {
    border-color: black;
    border-width: 3px;
    color: white;
}

.startButton label {
    color: black;
    font-size: 64px;
    font-weight: bold;
}



.process_box button {
    padding: 16px 32px;
    border-radius: 40px;
}

.process_box button:hover {
    background-image: linear-gradient(to right, #fff, #fff);
    border-color: black;
    border-width: 2px;
    color: white;
}

.process_box label {
    color: black;
    font-size: 32px;
    font-weight: bold;
}




.file {
    padding: 20px 40px;
    border-radius: 40px;
}

.file:hover {
    border-color: black;
    border-width: 2px;
    color: white;
}


.quit {
    padding: 16px 32px;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.quit:hover {
    background-image: linear-gradient(to right, #fff, #fff);
    border-color: black;
    border-width: 3px;
    color: white;
}

.quit label {
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.image {
    margin-top: 150px;
}

.saveButton {
    padding: 16px 32px;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.saveButton:hover {
    background-image: linear-gradient(to right, #fff, #fff);
    border-color: black;
    border-width: 3px;
    color: white;
}

.saveButton label {
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.buttonofthedebut2 {
    margin-left: 630px
}

.buttonofthedebut3 {
    margin-left: 450px
}

.options button {
    padding: 16px 32px;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
}